.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Chat-container {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  border: 2px solid #282c34;
  border-radius: 10px;
  overflow-y: scroll;
}

.Input-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

.Input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-right: 10px;
}

.Input-container button {
  padding: 10px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.Output-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}